.header {
  position: relative;
  bottom: 10rem;
}
.contactPage {
  background-image: url('../../images/000017.JPG');
  background-size: 250rem;
  height: 130rem;
  width: auto;
  position: relative;
  bottom: 25rem;
}