@import "../../index.scss";

.aboutPage {
  background-image: url("../../images/000048.JPG");
  background-size: 250rem;
  background-repeat: no-repeat;
  height: 170rem;
  width: auto;
  position: relative;
  bottom: 10rem;
  display: flex;
  justify-content: space-evenly;

  .aboutContentContainer {
  }
}
