@import '../../index.scss';

.navbar {
  width: 100%;
  height: 33rem;
  background-color: $black;
  border-bottom: 1rem solid $yellow;
  display: flex;
  justify-content: space-around;
  position: relative;
  z-index: 3;

  .logo {
    position: relative;
    background-image: url('../../images/logo/logo.svg');
    background-size: 60rem;
    height: 60rem;
    width: 70rem;
    left: 10rem;

  }


  .buttonWrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    Button {
      font-size: 2rem;
      width: 24rem;
      height: 10rem;
      background-color: $black;
      color: $yellow;
      box-shadow: dimgray 10px 10px 2px 1px;

      &:hover {
        margin-top: 1rem;
        box-shadow: dimgray 10px 10px 2px 1px;
      }

      a {
        text-decoration: none;
        font-size: 2rem;
        color: $yellow;
      }
    }

  }



}