@import '../../index.scss';




/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-width : 320px)
and (max-width : 480px) {
  /* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 667px) {
  .landing {
    background-image: url('../../images/__6_01033.jpg');
    background-size: 130rem;
    background-position: 20%;
    height: 80rem;
    width: auto;
    position: relative;
    bottom: 5rem;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    .name {
      color: $yellow;
      font-size: 2.5rem;
      grid-column: 1 / 5;
      margin-left: 15rem;
      margin-top: 20rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .dev {
      color: $yellow;
      font-size: 2.5rem;
      grid-column: 2 / 6;
      grid-row: 2 / 3;
      margin-left: 10rem;
      padding-bottom: 10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

}


/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 376px) {
  .landing {
    background-image: url('../../images/__6_01033.jpg');
    background-size: 130rem;
    background-position: 20%;
    height: 80rem;
    width: auto;
    position: relative;
    bottom: 5rem;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    .name {
      color: $yellow;
      font-size: 2.5rem;
      grid-column: 1 / 5;
      margin-left: 10rem;
      margin-top: 20rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .dev {
      color: $yellow;
      font-size: 2.5rem;
      grid-column: 1 / 7;
      grid-row: 2 / 3;
      margin-left: 5rem;
      padding-bottom: 10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

}

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : landscape) {
  .landing {
    background-image: url('../../images/__6_01033.jpg');
    background-size: 150rem;
    height: 80rem;
    width: auto;
    position: relative;
    bottom: 5rem;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    .name {
      color: $yellow;
      font-size: 4rem;
      grid-column: 2 / 5;
      margin-left: 10rem;
      margin-top: 20rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .dev {
      color: $yellow;
      font-size: 4rem;
      grid-column: 3 / 6;
      grid-row: 2 / 3;
      margin-left: 4rem;
      padding-bottom: 10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }

}

/* iPads (portrait) ----------- */
@media only screen
and (min-width : 768px)
and (max-width : 1024px)
and (orientation : portrait) {
  .landing {
    background-image: url('../../images/__6_01033.jpg');
    background-size: 120rem;
    height: 80rem;
    width: auto;
    position: relative;
    bottom: 5rem;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    .name {
      color: $yellow;
      font-size: 4rem;
      grid-column: 2 / 5;
      margin-top: 20rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .dev {
      color: $yellow;
      font-size: 4rem;
      grid-column: 2 / 6;
      grid-row: 2 / 3;
      margin-left: 10rem;
      padding-bottom: 10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
  .landing {
    background-image: url('../../images/__6_01033.jpg');
    background-size: 250rem;
    height: 165rem;
    width: auto;
    position: relative;
    bottom: 5rem;
    z-index: 0;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  
    .name {
      color: $yellow;
      font-size: 7rem;
      grid-column: 2 / 5;
      margin-left: 13rem;
      margin-top: 35rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  
    .dev {
      color: $yellow;
      font-size: 7rem;
      grid-column: 3 / 6;
      grid-row: 2 / 3;
      margin-left: 5rem;
      padding-bottom: 10rem;
      text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
  }
}

/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* Styles */
}

