$yellow: #EACF35;
$blue: #58A7D9;
$black: #110000;

* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, monospace, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: lighter;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

